extends layout

block content
  div(class='background-div')
    div(class='left-background-div')
    div(class='right-background-div')
  div(class='main-div')
    div(class='right-text-div')
      h1 מורן
    div(class='left-text-div')
      h1 נגה
